#qunit-tests {

  table {
    border-collapse: collapse;
    margin-top: 0.2em;
  }

  th, td {
    padding: 0.2rem 0.4rem;
  }

  th {
    text-align: right;
    vertical-align: top;
  }

  td {
    vertical-align: top;
  }
}
